@model Dice.Models.HomeModel

@{
    ViewData["Title"] = null;
}

<div class="text-center">
    <div id="dice-container" class="row">
        @foreach (var die in Model.Dice)
        {
            <div class="dice">
                <div class="die-faces" numfaces="@die.NumFaces">@("D" + die.NumFaces)</div>
                <div class="die-object"><div class="die-value">@die.Value</div></div>
            </div>
        }
    </div>

    <div class="row">
        <a onclick="roll()" id="rollBtn" class="btn btn-primary">Roll</a>
    </div>

    <div class="row">
        <div class="dropdown">
            <button type="button" class="btn btn-secondary btn-block dropdown-toggle" data-toggle="dropdown">
                Choose dice
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" onclick="setDice(6,6)">2 D6</a></li>
                <li><a class="dropdown-item" onclick="setDice(12,12)">2 D12</a></li>
                <li><a class="dropdown-item" onclick="setDice(20,20)">2 D20</a></li>
                <li><a class="dropdown-item" onclick="setDice(6,12,20)">D6, D12, D20</a></li>
            </ul>
        </div>
    </div>
</div>