@model Dice.Models.HomeModel

@{
    ViewData["Title"] = null;
}

<div id="drawArea"></div>

<table class="table">
    <thead>
        <tr><th># of Faces</th><th>Value</th></tr>
    </thead>
    <tbody>
        @foreach (var die in Model.Dice)
        {
            <tr class="dice"><td class="die-faces">@die.NumFaces</td><td class="die-value">@die.Value</td></tr>
        }
    </tbody>
</table>

<div class="container">
    <a onclick="roll()" class="btn btn-default">Roll</a>
</div>